
.center{
    display: flex;
    flex-wrap: wrap;
    max-width: 11000px;
    margin:0 auto;
    padding:0 2%;
}
.menu{
    height: 100%;
    width:1500%;
    text-align: right;
}
.menu a{
    color:black;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
    margin-right: 18px;
}
header{
    padding:30px 0;
}
.logo{
    justify-content: center;
    width: 15000%;

    height: 1000%;
}